body {
    margin: 20px;
    background-color: #dacde0;
  }
  
  .app-container {
    background-color: white;
    padding: 20px;
    display: none;
  }
  
  .sub-container {
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 4px;
  }
  
  .sub-service-container {
    display: flex;
  }
  
  .sub-service-price-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
  
  .sub-service-price {
    display: flex;
    justify-content: space-between;
  }
  
  .subservice-image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  
  .total-value-container {
    display: flex;
    justify-content: space-between;
    line-height: 48px;
  }
  
  .total {
    background-color: black;
      color: white;
      padding: 10px;
      border-radius: 10px;
  }
  
  .total-row {
    border-top: 1px solid saddlebrown;
  }